.hidden { display: none; }

$main-bg-color: #081F3D;
$main-color: #fff;

$main-font-face: 'Lato', sans-serif;
$main-font-size: 16px;

$heading-color: rgba(255, 255, 255, 0.5);

// quick reset
* {
    border: none;
    padding: 0;
    margin: 0;
}